@mixin w_mw_bgc_bor_bor-r($w, $mw, $bgc, $bor, $bor-r){
  width: $w;
  min-width: $mw;
  background-color: $bgc;
  border: 1px solid $bor;
  border-radius: $bor-r;
}
@mixin border_color($border, $color){
  border: 1px solid $border;
  color: $color;
}
@mixin flex_justify($jc){
  display: flex;
  justify-content: $jc;
}
@keyframes red-border {
  50%{
    border: 1px solid red;
    box-shadow: 2px 2px red;
  }
  100%{
    border: 1px solid black;
  }
}
@keyframes steelblue-border {
  50%{
    border: 1px solid steelblue;
    box-shadow: 2px 2px steelblue;
  }
  100%{
    border: 1px solid black;
  }
}
@keyframes green-border {
  50%{
    border: 1px solid green;
    box-shadow: 3px 3px green;
  }
  100%{
    border: 1px solid black;
  }
}

body, div{
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.inline{
  display: flex;
  position: relative;
}
.main_container{
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.personal_data{
  width: 100%;
  @include flex_justify(space-between);
  margin-top: 20px;
}
.inputs_container{
  width: 100%;
  @include flex_justify(space-around);
  margin-top: 25px;
}
.buttons_container{
  width: 100%;
  @include flex_justify(space-around);
  margin-top: 25px;
  margin-bottom: 70px;
}
.tables_container{
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
}
.one_table_container{
  position: relative;
  width: 99%;
  display: flex;
  flex-direction: column;
  &.table_left{

  }
  &.table_right{
    right: 0;
    top: 0;
  }
}
.border_red{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
.data_title{
  letter-spacing: 2px;
  font-family: cursive;
  transform: translate(10%, -12%);
}
.data_container{
  display: flex;
  width: 49%;
  justify-content: center;
}
.btn{
  @include w_mw_bgc_bor_bor-r(15%, 100px, steelblue, black, 4px);
  padding: 10px 0;
  letter-spacing: 1px;
  font-family: cursive;
  color: white;
  box-shadow: 3px 3px 0 darkgray;
  &:hover{
    @include border_color(_, black)
  }
  &:active{
    @include border_color(white, white);
    box-shadow: none;
  }
  &.btn_red{
    animation: red-border 2s linear infinite;
    background-color: white;
    @include border_color(darkred, darkred);
    &:hover{
      @include border_color(red, red)
    }
    &:active{
      background-color: pink;
      @include border_color(black, black)
    }
  }
}
.close_modal{
  background-color: white;
  color: black;
  width: 20px;
  height: 22px;
  padding: 2px;
  font-weight: bold;
  @include border_color(teal, teal);
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.confirm_order{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.input{
  @include w_mw_bgc_bor_bor-r(15%, 100px, white, black, 4px);
  animation: steelblue-border 3s linear infinite;
  padding: 10px 0;
  letter-spacing: 1px;
  outline: none;
  text-align: center;
  &::placeholder{
    font-size: 12px;
  }
  &:focus{
    animation: green-border 2s linear infinite;
  }
}
.w49{
  width: 49.5%;
}
.table_first_row{
  position: relative;
  padding: 0;
  width: 100%;
  @include flex_justify(space-around);
  margin-top: 10px;
  align-items: center;
  border: 1px solid darkgrey;
}
.border_green{
  border: 1px solid green;
 }
.cell{
  font-size: 75%;
  border-left: 1px solid darkgrey;
  width: 15%;
  text-align: center;
  height: 100%;
  padding: 3px;
  font-family: cursive;
  &.table_title{
    background-color: steelblue;
  }
  &.id{
    width: 7%;
  }
  &.vin{
    width: 18%;
  }
  &.article{
    width: 7%;
  }
  &.car_mark{
    width: 17%;
    border-left: 1px solid darkgrey;
  }
  span{
    font-size: 14px;
  }
}
.description{
  position: relative;
  width: 14%;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.mark{
  width: 100%;
  text-align: center;
  font-family: cursive;
}
.column{
  width: 17%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid darkgrey;
}
.select{
  position: absolute;
  width: 30px;
  height: 20px;
  max-width: 25%;
  background-color: white;
  right: 2px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}
.modal{
  position: fixed;
  top: 4%;
  right: 7%;
  left: 7%;
  padding: 20px;
  border: 2px solid teal;
  background-color: white;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow-y: scroll;
}
.order_container{
  position: relative;
  width: 90%;
  margin: 5% 5%;
  padding: 10px;
  border: 2px solid teal;
}
.flex_around_container{
  align-items: center;
  margin-top: 45px;
  @include flex_justify(space-around);
  &.order{
    width: 90%;
    margin: 20px 5%;
    border: 2px solid teal;
  }
}
.order_list{
  width: 90%;
  margin: 20px 5%;
}
.title{
  margin-left: 5%;
  margin-top: 2%;
  font-family: cursive;
}
.item_container {
  max-height: 150px;
  overflow-y: auto;
  font-family: cursive;
  padding: 10px 0;
  width: 20%;
  text-align: center;

  &.details {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  &.id{
    width: 5%;
  }
}

.detail_title {
  width: 40%;
}

.detail_param {
  width: 60%;
}

.details {
  border: 2px solid teal;
  margin-bottom: 2px;
}
