@keyframes border {
  50% {
    border: 1px solid red;
    box-shadow: 2px 2px red;
  }
  100% {
    border: 1px solid black;
  }
}
body, div {
  margin: 0;
  padding: 0;
}

.inline {
  display: flex;
}

.main_container {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.personal_data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.inputs_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.buttons_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 70px;
}

.tables_container {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
}

.one_table_container {
  position: relative;
  width: 99%;
  display: flex;
  flex-direction: column;
}
.one_table_container.table_right {
  right: 0;
  top: 0;
}

.border_red {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.data_title {
  letter-spacing: 2px;
  font-family: cursive;
  transform: translate(10%, -12%);
}

.data_container {
  display: flex;
  width: 49%;
  justify-content: center;
}

.btn {
  width: 15%;
  min-width: 100px;
  background-color: steelblue;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 0;
  letter-spacing: 1px;
  font-family: cursive;
  color: white;
  box-shadow: 3px 3px 0 darkgray;
}
.btn:hover {
  border: 1px solid _;
  color: black;
}
.btn:active {
  border: 1px solid white;
  color: white;
  box-shadow: none;
}
.btn.btn_red {
  animation: border 2s linear infinite;
  background-color: white;
  border: 1px solid darkred;
  color: darkred;
}
.btn.btn_red:hover {
  border: 1px solid red;
  color: red;
}
.btn.btn_red:active {
  background-color: pink;
  border: 1px solid black;
  color: black;
}

.input {
  width: 15%;
  min-width: 100px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 0;
  letter-spacing: 1px;
  outline: none;
  text-align: center;
}
.input::placeholder {
  font-size: 12px;
}
.input:hover {
  animation: border 3s linear infinite;
}

.w49 {
  width: 49.5%;
}

.table_first_row {
  position: relative;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  align-items: center;
  border: 1px solid darkgrey;
}

.column {
  width: 17%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid darkgrey;
}

.border_green {
  border: 1px solid green;
}

.cell {
  border-left: 1px solid darkgrey;
  width: 15%;
  text-align: center;
  height: 100%;
  padding: 3px;
  font-family: cursive;
}
.cell.table_title {
  background-color: steelblue;
}
.cell.id {
  width: 7%;
}
.cell.vin {
  width: 18%;
}
.cell.article {
  width: 7%;
}
.cell.car_mark {
  width: 17%;
}
.cell.description {
  position: relative;
  width: 19%;
}
.cell.manufacturer {
  width: 13%;
}
.cell span {
  font-size: 14px;
}

.mark {
  width: 100%;
  text-align: center;
  font-family: cursive;
}

.select {
  width: 30px;
  height: 20px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

/*# sourceMappingURL=styles.css.map */
